
.side-menu {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;

  .navbar {
    border: none;
  }

  .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
  }

  .navbar-nav {
    .active {
      a {
        background-color: transparent;
        margin-right: -1px;
        border-right: 5px solid #e7e7e7;
      }
    }
    li {
      display: block;
      width: 100%;
      border-bottom: 1px solid #e7e7e7;
      a {
        padding: 15px;
        .glyphicon {
          padding-right: 10px;
        }
      }
    }
  }

  #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    .caret {
      float: right;
      margin: 9px 5px 0;
    }
    .indicator {
      float: right;
    }
    > a {
      border-bottom: 1px solid #e7e7e7;
    }
    .panel-body {
      padding: 0;
      background-color: #f3f3f3;
      .navbar-nav {
        width: 100%;
        li {
          padding-left: 15px;
          border-bottom: 1px solid #e7e7e7;
        }
        li:last-child {
          border-bottom: none;
        }
      }

      .panel > a {
        margin-left: -20px;
        padding-left: 35px;
      }

      .panel-body {
        margin-left: -15px;
        li {
          padding-left: 30px;
        }
        li:last-child {
          border-bottom: 1px solid #e7e7e7;
        }
      }
    }
  }

  .search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
  }

  .brand-name-wrapper {
    min-height: 50px;
    .navbar-brand {
      display: block;
    }
  }

  #search {
    position: relative;
    z-index: 1000;
    .panel-body {
      padding: 0;
      .navbar-form {
        padding: 0;
        padding-right: 50px;
        width: 100%;
        margin: 0;
        position: relative;
        border-top: 1px solid #e7e7e7;
        .form-group {
          width: 100%;
          position: relative;
        }
        input {
          border: 0;
          border-radius: 0;
          box-shadow: none;
          width: 100%;
          height: 50px;
        }
        .btn {
          position: absolute;
          right: 0;
          top: 0;
          border: 0;
          border-radius: 0;
          background-color: #f3f3f3;
          padding: 15px 18px;
        }
      }
    }
  }
}

/* Main body section */
.side-body {
  margin-left: 310px;
}

