<h1> Angular from Zero to Hero </h1>
<pre> Resize the screen to view the left slide menu </pre>
<p>
  Angular is a framework for building client applications in HTML and either
  JavaScript or a language (like Dart or TypeScript) that compiles to JavaScript.
</p>
<p>
  The framework consists of several libraries, some of them core and some optional.

  You write Angular applications by composing HTML templates with Angularized markup, writing
  component classes to manage those templates, adding application logic in services, and boxing components and services in modules.
</p>
<p>
  Then you launch the app by bootstrapping the root module. Angular takes over, presenting
  your application content in a browser and responding to user interactions according to the instructions you've provided.

  Of course, there is more to it than this. You'll learn the details in the pages that follow.
  For now, focus on the big picture.
</p>
